.todo-item{
    border: 1px solid rgb(68, 67, 67);
    border-radius: 15px;
    margin: 1rem 1rem;
    padding: 1rem 1rem; 
    background-color: grey;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.todo-delete{
    align-items: center;
    display: flex;
}

.todo-delete:hover{
    cursor: pointer;
}

.icons-group{
    display: flex;
    width: 5rem;
    justify-content: space-around;

}